halo>=0.0.31, <0.1.0
update-checker>=0.18.0, <0.19.0
# Bug with mypy: https://github.com/pallets/click/issues/2558#issuecomment-1656546003
click>=8.1.6
dbt-core>=1.10.4, <1.11.0
dbt-duckdb>=1.8.0, <1.9.0
# Excluding 1.2.1 due to window functions returning incorrect results:
# https://github.com/duckdb/duckdb/issues/16617
# Version 1.4.0 seems to have issues as well, so pinning to <1.4.0 until those are resolved.
duckdb !=1.2.1, <1.4.0
