[build-system]
requires = ["hatchling~=1.14.0"]
build-backend = "hatchling.build"

[project]
name = "dbt-metricflow"
version = "0.3.0"
description = "Execute commands against the MetricFlow semantic layer with dbt."
readme = "README.md"
requires-python = ">=3.8,<3.12"
license = "BUSL-1.1"
authors = [
  { name = "dbt Labs", email = "info@dbtlabs.com" },
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = [
  "dbt-core~=1.6.0",
  "metricflow~=0.202.0"
]

[project.urls]
"Source Code" = "https://github.com/dbt-labs/metricflow/tree/main/dbt-metricflow"

[project.optional-dependencies]
bigquery = [
  "dbt-bigquery~=1.6.0"
]
databricks = [
  "dbt-databricks~=1.6.0"
]
duckdb = [
  "dbt-duckdb~=1.6.0"
]
postgres = [
  "dbt-postgres~=1.6.0"
]
redshift = [
  "dbt-redshift~=1.6.0"
]
snowflake = [
  "dbt-snowflake~=1.6.0"
]

[tool.hatch.build.targets.sdist]
exclude = [
  "/.github",
  "/.changes",
  ".changie.yaml",
  ".gitignore",
  ".pre-commit-config.yaml",
  "CONTRIBUTING.md",
  "MAKEFILE",
]
