dbt-core>=1.10.4, <1.11.0
dbt-duckdb>=1.8.0, <1.9.0
# Excluding 1.2.1 due to window functions returning incorrect results:
# https://github.com/duckdb/duckdb/issues/16617
# Version 1.4.0 seems to have issues as well, so pinning to <1.4.0 until those are resolved.
duckdb !=1.2.1, <1.4.0
tomli >=2.3.0, <3
varname >=0.15.1, < 1
