Jinja2>=3.1.6, <3.7.0
# bumping to 0.9.3 will cause test failures, so pinning to dev2 until fixed
dbt-semantic-interfaces==0.9.4.dev2
more-itertools>=10.0.0, <11.0.0
pydantic>=1.10.0, <3.0
tabulate>=0.8.9
typing_extensions>=4.4, <5.0
