Jinja2>=3.1.6, <3.7.0
# bumping to 0.9.3 will cause test failures, so pinning to dev2 until fixed
# dbt-semantic-interfaces==0.9.3.dev4
dbt-semantic-interfaces @ git+https://github.com/dbt-labs/dbt-semantic-interfaces.git@129b4ede3dfaa3cd1e68c625146f6e05d1d39636
more-itertools>=8.10.0, <10.2.0
pydantic>=1.10.0, <3.0
tabulate>=0.8.9
typing_extensions>=4.4, <5.0
