# Note - as of 2026-01-29 there is no native redshift dialect for SqlAlchemy 2.x
# Using psycopg2 as the base driver because there's an existing dialect we can override.
psycopg2-binary>=2.9.0, <3.0.0
