name: Publish Metricflow Release
on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  poetry-publish:
    runs-on: ubuntu-20.04
    environment: Pypi Publish
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: make install

      - name: Poetry Publish
        run: poetry build && poetry publish -u transform_data -p ${{ secrets.PYPI_PASSWORD }}
