name: MetricFlow SQL Engine Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [labeled]

jobs:
  snowflake-tests:
    environment: DW_INTEGRATION_TESTS
    if: ${{ github.event.action != 'labeled' || github.event.label.name == 'run_mf_sql_engine_tests' }}
    name: Snowflake Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check-out the repo
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - uses: actions/cache@v3
        with:
          path: |
            ${{ env.pythonLocation }}
            ~/.cache/pypoetry
          key: ${{ env.pythonLocation }}-${{ hashFiles('poetry.lock') }}-ubuntu-latest-22.04

      - name: Install Poetry
        run: pip install poetry

      - name: Install Deps
        run: cd metricflow && poetry install

      - name: Run MetricFlow unit tests with Snowflake configs
        run: poetry run pytest -v --use-persistent-source-schema metricflow/test/ --ignore=metricflow/test/model/dbt_cloud_parsing
        env:
          MF_SQL_ENGINE_URL: ${{ secrets.MF_SNOWFLAKE_URL }}
          MF_SQL_ENGINE_PASSWORD: ${{ secrets.MF_SNOWFLAKE_PWD }}

  redshift-tests:
    environment: DW_INTEGRATION_TESTS
    name: Redshift Tests
    if: ${{ github.event.action != 'labeled' || github.event.label.name == 'run_mf_sql_engine_tests' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check-out the repo
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - uses: actions/cache@v3
        with:
          path: |
            ${{ env.pythonLocation }}
            ~/.cache/pypoetry
          key: ${{ env.pythonLocation }}-${{ hashFiles('poetry.lock') }}-ubuntu-latest-22.04

      - name: Install Poetry
        run: pip install poetry

      - name: Install Deps
        run: cd metricflow && poetry install

      - name: Run MetricFlow unit tests with Redshift configs
        run: poetry run pytest -v --use-persistent-source-schema metricflow/test/ --ignore=metricflow/test/model/dbt_cloud_parsing
        env:
          MF_SQL_ENGINE_URL: ${{ secrets.MF_REDSHIFT_URL }}
          MF_SQL_ENGINE_PASSWORD: ${{ secrets.MF_REDSHIFT_PWD }}

  bigquery-tests:
    environment: DW_INTEGRATION_TESTS
    name: BigQuery Tests
    if: ${{ github.event.action != 'labeled' || github.event.label.name == 'run_mf_sql_engine_tests' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check-out the repo
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - uses: actions/cache@v3
        with:
          path: |
            ${{ env.pythonLocation }}
            ~/.cache/pypoetry
          key: ${{ env.pythonLocation }}-${{ hashFiles('poetry.lock') }}-ubuntu-latest-22.04

      - name: Install Poetry
        run: pip install poetry

      - name: Install Deps
        run: cd metricflow && poetry install

      - name: Run MetricFlow unit tests with BigQuery configs
        run: poetry run pytest -v --use-persistent-source-schema metricflow/test/ --ignore=metricflow/test/model/dbt_cloud_parsing
        env:
          MF_SQL_ENGINE_URL: ${{ secrets.MF_BIGQUERY_URL }}
          MF_SQL_ENGINE_PASSWORD: ${{ secrets.MF_BIGQUERY_PWD }}

  databricks-cluster-tests:
    environment: DW_INTEGRATION_TESTS
    name: Databricks Cluster Tests
    if: ${{ github.event.action != 'labeled' || github.event.label.name == 'run_mf_sql_engine_tests' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check-out the repo
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - uses: actions/cache@v3
        with:
          path: |
            ${{ env.pythonLocation }}
            ~/.cache/pypoetry
          key: ${{ env.pythonLocation }}-${{ hashFiles('poetry.lock') }}-ubuntu-latest-22.04

      - name: Install Poetry
        run: pip install poetry

      - name: Install Deps
        run: cd metricflow && poetry install

      - name: Run MetricFlow unit tests with Databricks configs
        run: poetry run pytest -v --use-persistent-source-schema metricflow/test/ --ignore=metricflow/test/model/dbt_cloud_parsing
        env:
          MF_SQL_ENGINE_URL: ${{ secrets.MF_DATABRICKS_CLUSTER_URL }}
          MF_SQL_ENGINE_PASSWORD: ${{ secrets.MF_DATABRICKS_PWD }}

  databricks-sql-warehouse-tests:
    environment: DW_INTEGRATION_TESTS
    name: Databricks SQL Warehouse Tests
    if: ${{ github.event.action != 'labeled' || github.event.label.name == 'run_mf_sql_engine_tests' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check-out the repo
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - uses: actions/cache@v3
        with:
          path: |
            ${{ env.pythonLocation }}
            ~/.cache/pypoetry
          key: ${{ env.pythonLocation }}-${{ hashFiles('poetry.lock') }}-ubuntu-latest-22.04

      - name: Install Poetry
        run: pip install poetry

      - name: Install Deps
        run: cd metricflow && poetry install

      - name: Run MetricFlow unit tests with Databricks configs
        run: poetry run pytest -v --use-persistent-source-schema metricflow/test/ --ignore=metricflow/test/model/dbt_cloud_parsing
        env:
          MF_SQL_ENGINE_URL: ${{ secrets.MF_DATABRICKS_SQL_WAREHOUSE_URL }}
          MF_SQL_ENGINE_PASSWORD: ${{ secrets.MF_DATABRICKS_PWD }}

  postgres-tests:
    name: PostgreSQL Tests
    if: ${{ github.event.action != 'labeled' || github.event.label.name == 'run_mf_sql_engine_tests' }}
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: metricflow
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Check-out the repo
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - uses: actions/cache@v3
        with:
          path: |
            ${{ env.pythonLocation }}
            ~/.cache/pypoetry
          key: ${{ env.pythonLocation }}-${{ hashFiles('poetry.lock') }}-ubuntu-latest-22.04

      - name: Install Poetry
        run: pip install poetry

      - name: Install Deps
        run: cd metricflow && poetry install

      - name: Run MetricFlow unit tests with PostgreSQL configs
        run: poetry run pytest -v --use-persistent-source-schema metricflow/test/ --ignore=metricflow/test/model/dbt_cloud_parsing
        env:
          MF_SQL_ENGINE_URL: postgresql://postgres@localhost:5432/metricflow
          MF_SQL_ENGINE_PASSWORD: postgres

  slack-failure:
    environment: DW_INTEGRATION_TESTS
    needs: [snowflake-tests, redshift-tests, bigquery-tests]
    if: ${{ github.event_name != 'pull_request' && failure() }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Slack Failure
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: Failure
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ${{ secrets.MF_BUG_SINK }}
