name: Pre-Merge Linting

on:
  workflow_dispatch:
  # run these jobs against the PR + master.  To run tests against just the PR, use "push" instead of "pull_request"
  pull_request:
    # run these jobs when a PR is opened, edited, reopened, or updated (synchronize)
    # edited = title, body, or the base branch of the PR is modified
    # synchronize = commit(s) pushed to the pull request
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  pre-commit:
    name: Run Pre-Commit Linting Hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - uses: actions/cache@v3
        with:
          # cache the python dependencies and precommit-created virtual envs
          path: |
            ${{ env.pythonLocation }}
            ~/.cache
          key: ${{ env.pythonLocation }}-${{ hashFiles('.pre-commit-config.yaml', '.github/workflows/ci-linting.yaml') }}-ubuntu-latest-22.04

      - name: Install deps
        run: pip install "pre-commit>=2.18,<3"

      - name: Run Linter
        run: pre-commit run --show-diff-on-failure --color=always --all-files || (cat /home/runner/.cache/pre-commit/pre-commit.log && false)
