name: Pre-Merge Linting

on:
  workflow_dispatch:
  # run these jobs against the PR + master.  To run tests against just the PR, use "push" instead of "pull_request"
  pull_request:
    # run these jobs when a PR is opened, edited, reopened, or updated (synchronize)
    # edited = title, body, or the base branch of the PR is modified
    # synchronize = commit(s) pushed to the pull request
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  pre-commit:
    name: Run Pre-Commit Linting Hooks
    runs-on: ubuntu-latest
    env:
      python-version: "3.9"
    steps:

      - name: Check-out the repo
        uses: actions/checkout@v3

      - name: Setup Python ${{ env.python-version }} Environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: "${{ env.python-version }}"

      - name: Run Linter
        run: >
          hatch -v run dev-env:pre-commit run --show-diff-on-failure --color=always --all-files
          || (cat /home/runner/.cache/pre-commit/pre-commit.log && false)
